* {
    font-family: arial;
}

/* Page Header */
.header {
    position: sticky;
    top: 0;
    margin: -8px -8px 0 -8px;
    padding: 5px;
    background-color: black;
    text-align: center;
}

.headerButton {
    color:white;
    margin-right: 5px;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s all;
    text-decoration: none;
}

.headerButton:hover {
    color: #647790;
    cursor: pointer;
    background-color: #383838;
}

#rankingsHeaderButton:hover {
    color: #607090;
}

#topRankHistoryButton:hover {
    color: #60a0a0;
}

#oldRankingsHeaderButton:hover {
    color: #609070;
}

#infoHeaderButton:hover {
    color: #906070;
}

#siteVersion {
    position: fixed;
    margin-top: 12px;
    font-weight: bold;
    color:azure;
    font-size: 20px;
    transition: 0.5s all;
}

#siteVersionPage {
    z-index: -1;
    position: absolute;
    margin-top: 12px;
    font-weight: bold;
    color:azure;
    font-size: 20px;
    transition: 0.5s all;
}

#siteVersion:hover {
    color:aqua;
    cursor: pointer;
}