* {
    font-family: Arial;
}

body {
    background-color: #404040;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #f0b0d0;
    font-size: 20px;
    width: 65%;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #f080a0;
    font-size: 24px;
    width: 65%;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #d060b0;
    font-size: 32px;
    font-weight: bold;
    width: 65%;
}

#subText {
    font-size: 14px;
    color: #d0d0d0;
}

#reworkChange {
    color: #d04040;
}

#spacing {
    padding-top: 16px;
    padding-bottom: 16px;
}

#bigSpacing {
    padding-bottom: 256px;
}

#activeText {
    color: #607090;
}

#inactiveText {
    color: #808080;
}

#warningText {
    color: #dd2233;
}

@media only screen and (max-width: 1200px) {
    p {
        width: 55%;
    }
}

@media only screen and (max-width: 1000px) {
    p {
        width: 65%;
    }
}

@media only screen and (max-width: 840px) {
    p {
        width: 75%;
    }
}