* {
    font-family: arial;
}

body {
    background-color: #404040;
}

table {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border-spacing: 0px;
    background-color: #60a0a0;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

h1 {
    color:azure;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: -12px;
}

.topRow {
    color:azure;
}

#rankHistory {
    width: 600px;
}

#totalTime {
    width: 340px;
}

#longestTime {
    width: 600px;
}

.spacing {
    margin-top: 24px;;
}