* {
    font-family: arial;
}

body {
    background-color: #404040;
}

table {
    border-spacing: 0px;
}

tr {
    margin-top: 20px;
}

#playerListingContainer {
    width: 45%;
    border-radius: 10px;
    background-color: #606060;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.playerListingHeader {
    color: white;
    display: table;
    margin: auto;
    width: 97.5%;
    border-radius: 5px;
    height: auto;
    transition: 0.5s all;
    margin-top: 5px;
}

.playerListing {
    display: table;
    margin: auto;
    width: 97.5%;
    border-radius: 5px;
    height: auto;
    transition: 0.5s all;
    margin-top: 5px;
}

.playerListing:hover {
    background-color: #a8a8a8 !important;
    cursor: pointer;
}

#rankingNumber {
    padding-left: 12px;
    width: 5%;
}

#playerName {
    color: #fdfdfd;
}

#wordleRating {
    color: #e0e0e0;
    width: 15%;
}

#heldNumberOne {
    color: #e0e0e0;
    width: 15%;
}

#rankChange {
    width: 5%;
}

.playerIcons {
    width: 35%;
}

#wordleRatingHeader {
    color: white;
    width: 15%;
}

#heldNumberOneHeader {
    width: 15%;
}

#playerIcon {
    margin-left: 4px;
    margin-top: 6px;
    margin-right: 8px;
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 5px;
    float: left;
}

@media only screen and (max-width: 1200px) {
    #playerListingContainer {
        width: 55%;
    }
}

@media only screen and (max-width: 1000px) {
    #playerListingContainer {
        width: 65%;
    }
}

@media only screen and (max-width: 840px) {
    #playerListingContainer {
        width: 75%;
    }
}